<%= simple_form_for(@lab_tuberculose) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :paciente %>
    <%= f.association :usuario %>
    <%= f.input :fecha_toma_muestra_tuberculosis %>
    <%= f.input :fecha_entrega %>
    <%= f.association :hospital %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
