<%= simple_form_for(@hospital) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :sigla %>
    <%= f.input :provincia %>
    <%= f.input :ciudad %>
    <%= f.input :direccion %>
    <%= f.input :logo %>
    <%= f.input :categoria %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
