<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @lab_anat_cit.paciente %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @lab_anat_cit.usuario %>
</p>

<p>
  <strong>Fecha toma muestra cit:</strong>
  <%= @lab_anat_cit.fecha_toma_muestra_cit %>
</p>

<p>
  <strong>Fecha ult menstruacion:</strong>
  <%= @lab_anat_cit.fecha_ult_menstruacion %>
</p>

<p>
  <strong>Fecha ult parto:</strong>
  <%= @lab_anat_cit.fecha_ult_parto %>
</p>

<p>
  <strong>Fecha aborto:</strong>
  <%= @lab_anat_cit.fecha_aborto %>
</p>

<p>
  <strong>Nivel social:</strong>
  <%= @lab_anat_cit.nivel_social %>
</p>

<p>
  <strong>N emabarazos:</strong>
  <%= @lab_anat_cit.n_emabarazos %>
</p>

<p>
  <strong>Nro:</strong>
  <%= @lab_anat_cit.nro %>
</p>

<p>
  <strong>Sin tratamiento:</strong>
  <%= @lab_anat_cit.sin_tratamiento %>
</p>

<p>
  <strong>N abortos:</strong>
  <%= @lab_anat_cit.n_abortos %>
</p>

<p>
  <strong>Ritmo:</strong>
  <%= @lab_anat_cit.ritmo %>
</p>

<p>
  <strong>Dia termo:</strong>
  <%= @lab_anat_cit.dia_termo %>
</p>

<p>
  <strong>N cesareas:</strong>
  <%= @lab_anat_cit.n_cesareas %>
</p>

<p>
  <strong>Estado lactancia:</strong>
  <%= @lab_anat_cit.estado_lactancia %>
</p>

<p>
  <strong>Menopausia:</strong>
  <%= @lab_anat_cit.menopausia %>
</p>

<p>
  <strong>Embarazo:</strong>
  <%= @lab_anat_cit.embarazo %>
</p>

<p>
  <strong>Ligadura trompas:</strong>
  <%= @lab_anat_cit.ligadura_trompas %>
</p>

<p>
  <strong>Oral:</strong>
  <%= @lab_anat_cit.oral %>
</p>

<p>
  <strong>Depo:</strong>
  <%= @lab_anat_cit.depo %>
</p>

<p>
  <strong>Otros:</strong>
  <%= @lab_anat_cit.otros %>
</p>

<p>
  <strong>Criocirug hormonal:</strong>
  <%= @lab_anat_cit.criocirug_hormonal %>
</p>

<p>
  <strong>Aspecto cuello:</strong>
  <%= @lab_anat_cit.aspecto_cuello %>
</p>

<p>
  <strong>Flujo vaginal:</strong>
  <%= @lab_anat_cit.flujo_vaginal %>
</p>

<p>
  <strong>Lugar de muestra:</strong>
  <%= @lab_anat_cit.lugar_de_muestra %>
</p>

<p>
  <strong>Informacion toma muestra:</strong>
  <%= @lab_anat_cit.informacion_toma_muestra %>
</p>

<p>
  <strong>Control:</strong>
  <%= @lab_anat_cit.control %>
</p>

<p>
  <strong>Fecha entrega:</strong>
  <%= @lab_anat_cit.fecha_entrega %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @lab_anat_cit.hospital %>
</p>

<%= link_to 'Edit', edit_lab_anat_cit_path(@lab_anat_cit) %> |
<%= link_to 'Back', lab_anat_cits_path %>
