<%= simple_form_for(@usuario) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :rol %>
    <%= f.input :nombre_usuario %>
    <%= f.input :clave %>
    <%= f.association :hospital %>
    <%= f.association :datos_usuario %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
