<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Rol</th>
      <th>Nombre usuario</th>
      <th>Clave</th>
      <th>Hospital</th>
      <th>Datos usuario</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.rol %></td>
        <td><%= usuario.nombre_usuario %></td>
        <td><%= usuario.clave %></td>
        <td><%= usuario.hospital %></td>
        <td><%= usuario.datos_usuario %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
