<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @lab_anat_pat.paciente %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @lab_anat_pat.usuario %>
</p>

<p>
  <strong>Fecha toma muestra pat:</strong>
  <%= @lab_anat_pat.fecha_toma_muestra_pat %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @lab_anat_pat.servicio %>
</p>

<p>
  <strong>Cama:</strong>
  <%= @lab_anat_pat.cama %>
</p>

<p>
  <strong>Diagnostico clinico:</strong>
  <%= @lab_anat_pat.diagnostico_clinico %>
</p>

<p>
  <strong>Datos anatomicos:</strong>
  <%= @lab_anat_pat.datos_anatomicos %>
</p>

<p>
  <strong>Lugar muestra:</strong>
  <%= @lab_anat_pat.lugar_muestra %>
</p>

<p>
  <strong>Diagnostico operatorio:</strong>
  <%= @lab_anat_pat.diagnostico_operatorio %>
</p>

<p>
  <strong>Pieza quirurgica:</strong>
  <%= @lab_anat_pat.pieza_quirurgica %>
</p>

<p>
  <strong>Biopsia:</strong>
  <%= @lab_anat_pat.biopsia %>
</p>

<p>
  <strong>Otros:</strong>
  <%= @lab_anat_pat.otros %>
</p>

<p>
  <strong>Conservante:</strong>
  <%= @lab_anat_pat.conservante %>
</p>

<p>
  <strong>Fecha entrega:</strong>
  <%= @lab_anat_pat.fecha_entrega %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @lab_anat_pat.hospital %>
</p>

<%= link_to 'Edit', edit_lab_anat_pat_path(@lab_anat_pat) %> |
<%= link_to 'Back', lab_anat_pats_path %>
