<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">LABORATORIO</li>
      <li><%= link_to "--Registro de Pacientes", "/pacientes"  %></li>
      <li><%= link_to "--Administracion de Inventarios", "/"  %></li>


      <li class="nav-header">LABORATORIO DE PATOLOGIA</li>

      <li><%= link_to "Cancer Uterino", "/principal_patologia/index"  %></li>
      <li><%= link_to "--Registro de Resultados", "/lab_anat_cits"  %></li>
              <li><%= link_to "----Registro de Reactivos e Insumos", "insumos_reactivos"  %></li>
               <li><%= link_to "----Reactivos e Insumos", "/registro_insumos_reactivos"  %></li>

      <li><%= link_to "--Obtencion de Datos Estadisticos", "/pacientes"  %></li>

      <li><%= link_to "Citologia", ""  %></li>
        <li><%= link_to "--Biopsias", "/chagas"  %></li>

        <li><%= link_to "--Liquidos", "/chagas"  %></li>
      <li class="nav-header">LABORATORIO DE VIGILANCIA EPIDEMIOLOGICA</li>
      <li><%= link_to "Chagas", "/chagas"  %></li>
      <li><%= link_to "Tuberculosis", "/chagas"  %></li>
      <li><%= link_to "", "/chagas"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->